@mixin H1font{
    font: {
        size: 67px;
        weight: bold
    }

    line-height: 90px;
}

@mixin H2font{
    font:   {
        size:39.06px;
        weight: 400;
    }
    line-height:72px
}

@mixin Pfont {
    font: {
        size:21px;
        weight:400;
    }
    line-height: 40px;
}